<script>
$(function() {
  var chatWidget = (".chat-widget-container"),
      chatBox = $(".chat-box-container");

  $(chatWidget).click(function(e){

    e.preventDefault();

    $(chatBox).toggleClass("show");
    $(chatWidget).toggleClass("open");
  })

});
</script>
<style>
$blue : #00aeef;
$white : #fff;
$gray : #333;
$lightgray : #808080;
$lightergray : #f1f1f1;
body {
  background-color: $lightgray;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
    font-weight: 400;
    font-size: 15px;
}
.chat-widget-wrapper {
  display: block;
  width: 300px;
  height: 62px;
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 10px;
  cursor: pointer;
  animation: all 2s linear;
}

.chat-widget-container {
  position: relative;
  padding: 10px;
  background-color: $white;
  border-radius: 4px;

  &.open {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .chat-widget-text {
    p {
      margin: 0 auto;
      color: $lightgray;

      &.heading {
        color: $blue;
        font-weight: 600;
      }
    }
  }
}

.chat-widget-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -11px;
    right: 30px;
    border: 4px solid $white;
    border-radius: 50%;
}

.chat-box-container {
  position: absolute;
  width: 300px;
  height: 0;
  background-color: $lightergray;
  bottom: 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  z-index: -1;

  &.show {
    bottom : 72px;
    height : 300px;
  }

  .chat-box-nav {
    background-color: $blue;
    width: 100%;
    height: 40px;
  }
}
</style>
<div class="chat-widget-wrapper">
  <div class="chat-widget-container">
    <div class="chat-widget-text">
      <p class="heading">LIVE CHAT</p>
      <p>How can we help?</p>
    </div>
    <div class="chat-widget-avatar">
      <img src="http://image.flaticon.com/icons/svg/236/236831.svg" alt="" />
    </div>
  </div>
  <div class="chat-box-container">
    <div class="chat-box-nav">
    </div>
    <div class="chat-box-content">
      <form action="" class="chat-box-form">

      </form>
    </div>
  </div>
</div>